<html>
	<head>
		<style type="text/css">
			table  {
				margin-top:10%;
				
		 	}
		 	td {
		 		font-size:12px;
		 	}
		 	
		 	th {
		 		font-size:10px;
		 	}
		 	
		 	.table{
		 		border: 1px solid black;
		 	}
		 	
		 	
		</style>
	</head>

	<body>
	
		<table cellpadding="1" cellspacing="2" style="width:100%; ">
			<tr><td style="width:100%; text-align: center;"><h1>Appointment Report</h1></td></tr>
		</table>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<table cellpadding="1" cellspacing="2" style="width:100%; border-collapse: collapse; border:1px solid black;">
		
			<tr class="table" style="background-color: #89BAD6; font-color:#fff;">
			<td class="table" style="width:15%; text-align: center;">Physician Name</td>
			<td class="table" style="width:15%; text-align: center;">Patient Name</td>
			<td class="table" style="width:15%; text-align: center;">DOB</td>
			<td class="table" style="width:15%; text-align: center;">Time</td> 
			</tr>
			
			#foreach($obj in $object)
				<tr class="table"  style="">
				<td class="table" style="width:15%; text-align: center;">$!obj.physicianname</td>
				<td class="table" style="width:15%; text-align: center;">$!obj.patientname</td>
				<td class="table" style="width:15%; text-align: center;">$!obj.fromdate</td>
				<td class="table" style="width:15%; text-align: center;">$!obj.fromtime</td> 
				</tr>
			#end
			
			
			
		</table>
		
	</body>

</html>